@import 'config/mixins.scss';

@include small-mobile {

  .header{
    background-color: $second-color;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
    position: relative;
    &-logo{
      width: 100px;
      padding: 0 15px;
      &__img{
      }
    }
    &-nav{
      position: absolute;
      display: flex;
      top: 78px;
      background: #081a7d;
      width: 100%;
      height: 0;
      overflow: hidden;
      transition: .4s;

      &.show{
        height: 50vh;
        overflow: visible;
      }

      &__list{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        list-style-type: none;
        width: 100%;
        &-item{
        }
        &-redirect{
          color: $primary-color;
          text-decoration: none;
        }
      }
    }
  }

  .section-page{
    &__title{
      margin: 15px 0;
      font-size: 25px;
      font-weight: 900;
      color: $second-color;
    }
  }
  
  .content-posts{
    &__photo{
      max-width: 320px;
    }
    &__general{
      display: flex;
      flex-direction: column;
    }
    &__line{
      opacity: 0.5;
      margin: 30px 0;
    }
    &__img{
      margin-right: 30px;
    }
    &__details{
      width: 100%;
    }
    &__category{
      font-size: 14px;
      font-weight: 900;
      color: $second-color;
      margin: 5px 0;
    }
    &__title{
      font-size: 30px;
      font-weight: 900;
      color: #333333;
    }
    &__description{
      .icon-time{
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        margin: 10px 0;
        &__svg{
          width: 13px;
        }

        &__data{
          margin: 0 10px;
        }
      }
    }
    &__author{
      &-link{
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
      }
      &-image{
        border-radius: 50%;
        margin-right: 20px;
        width: 10%;
        border: solid 2px #ddd;
      }
      &-name{
        color: $third-color;
      }
    }
  }

  .btn-load{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 20px;

    &__more{
      background-color: $second-color;
      padding: 10px 20px;
      cursor: pointer;
    }

    &__text{
      color: $primary-color;
    }
  }

  .square-random{
    &__one{
      background-color: #ddd;
      height: 250px;
      margin: 20px 0;
    }

    &__two{
      background-color: #ddd;
      height: 250px;
      margin: 20px 0;
    }
  }

  .footer{
    background-color: $third-color;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 45px;


    &__copy{
      width: 100%;
      text-align: center;
      color: $primary-color;
      font-size: 10px; 
    }
    &__dev{
      width: 100%;
      text-align: center;
      color: $primary-color;   
      font-size: 10px;
    }
  }
}