@import 'config/mixins.scss';

@include tablet {

  .header{
    background-color: $second-color;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 10px 0;
    &-logo{
      max-width: 100px;
      &__img{
      }
    }
    &-nav{
      &__list{
        display: flex;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        list-style-type: none;
        &-item{
        }
        &-redirect{
          color: $primary-color;
          text-decoration: none;
        }
      }
    }
  }

  .section-page{
    &__title{
      margin: 15px 0;
      font-size: 25px;
      font-weight: 900;
      color: $second-color;
    }

    &__main{
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: flex-start;
    }
  }
  
  .content-posts{
    &__photo{
      max-width: 350px;
    }
    &__general{
      display: flex;
      flex-direction: row;
    }
    &__line{
      margin: 30px 0;
      opacity: 0.5;
    }
    &__img{
      margin-right: 30px;
    }
    &__details{
      width: 55%;
    }
    &__category{
      font-size: 14px;
      font-weight: 900;
      color: $second-color;
    }
    &__title{
      font-size: 30px;
      font-weight: 900;
      color: #333333;
    }
    &__description{
      .icon-time{
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;

        &__svg{
          width: 13px;
        }

        &__data{
          margin: 0 10px;
        }
      }
    }
    &__author{
      &-link{
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
      }
      &-image{
        border-radius: 50%;
        margin-right: 20px;
        width: 10%;
        border: solid 2px #ddd;
      }
      &-name{
        color: $third-color;
      }
    }
  }

  .btn-load{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 20px;

    &__more{
      background-color: $second-color;
      padding: 10px 20px;
      cursor: pointer;
    }

    &__text{
      color: $primary-color;
    }
  }

  .square-random-desk{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    &__one{
      height: 300px;
      width: 300px;
      background-color: #ddd;;
      margin-bottom: 20px;
    }
    &__two{
      height: 300px;
      width: 300px;
      background-color: #ddd;;
    }
  }

  .footer{
    background-color: $third-color;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    height: 45px;


    &__copy{
      width: 50%;
      text-align: center;
      color: $primary-color;  
    }
    &__dev{
      width: 50%;
      text-align: center;
      color: $primary-color;   
    }
  }
}